<a href="https://colab.research.google.com/github/shreyaadarakh/NLPsem6/blob/master/NotBNotG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import re

In [0]:
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz",lines=True)

In [3]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
def func1(str):
  list = []
  list = re.findall(r"\b[^\sbB]\w+[^gG\s]\b", str)
  return list

In [0]:
data["reviewText_not_bg"] = data.apply(lambda row: func1(row.reviewText),axis=1)
data["summary_not_bg"] = data.apply(lambda row: func1(row.summary),axis=1)

In [6]:
data.head()

       reviewerID  ...                                     summary_not_bg
0  A32T2H8150OJLU  ...              [solid, performer, and, time, friend]
1  A3MAFS04ZABRGO  ...  [Price, GOLD, don', the, golden, flagship, HP12c]
2  A1F1A0QQP2XVH5  ...  [Good, functionality, not, durable, like, old,...
3   A49R5DBXXQDE5  ...         [One, the, last, almost, extinct, species]
4  A2XRMQA6PJ5ZJ8  ...                                       [Still, the]

[5 rows x 11 columns]